In [2]:
dict3 = {}

In [3]:
dict3

{}

In [4]:
import pandas as pD

In [5]:
pandas()

NameError: name 'pandas' is not defined

In [6]:
list1 = [1, 2, 3]

In [7]:
list2 = [4, 5, 6]

In [9]:
conc = list1 + list2

In [10]:
print(conc)

[1, 2, 3, 4, 5, 6]

In [12]:
s = 'Data Science Academy'

In [18]:
s:[4]

'Data'

In [19]:
s[:4]  # Sa√≠da: 'Data'

'Data'

In [20]:
list5 =  [x for x in range(10)]

In [21]:
print(list5)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
list6 = [x for x in range(10) if x < 5]

In [23]:
print(list6)

[0, 1, 2, 3, 4]

In [24]:
s2 = 'Data Science Academy'

In [25]:
s[2]

't'

In [26]:
quadrado = [x**2 for x in range(0,11)]

In [27]:
print(quadrado)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]